<body class="upload-selfie">

<nav>
  <%= link_to 'Back', url_for(:back) %>
</nav>

<%= form_for @selfie, :html => {:class => 'upload-form centered'} do |s| %>

  <h1>Add a Picture</h1>
  <%= s.hidden_field :name, :placeholder => 'Name your selfie' %> <br>

  <% if @selfie.errors.any? %>
    <p class='error'><%= flash[:error] %>
     <% @selfie.errors.full_messages.each do |error_message| %>
      <span><%= error_message %></span><br>
     <% end %>
    </p><br>
  <% end %>

  <button id='displayed-select'>Choose File</button> <br>
  <%= s.submit 'Submit', :id => 'submit' %>
  <%= s.file_field :picture, :id => 'hidden-select' %>

<% end %>

</body>

<script>

$('#displayed-select').click(function() {
  event.preventDefault();
  $('#hidden-select').click();
  $('#displayed-select').addClass('selected');
  $('#displayed-select').html('Selected');
})

</script>