<body class="profile">

<p class="profile-name"><%= current_user.name %></p>

<nav>
  <%= link_to "About", about_path %>
  <%= link_to "Sign out", signout_path %>
</nav>

<section class="feed">

<% if not @selfies.empty? %>
<%= link_to "Upload", new_selfie_path, class: "upload" %>
<%= link_to "+", new_selfie_path, class: "upload mobile" %>
<% end %>

<% for selfie in @selfies %>
  <% if selfie.picture.feed.file.exists? && selfie.user %>
    <div class="selfie">
      <%= image_tag selfie.picture_url(:feed).to_s %>
      <!-- <p class="name"><#= selfie.name %></p>
      <p class="user-name"><#= selfie.user.name %></p> -->
      <p class="date"><%= selfie.created_at.strftime('%b %d, %Y') %></p>
    </div>
  <% end %>
<% end %>

</section>

<% if @selfies.empty? %>

<section class="no-selfies">
  <h1>No photos!</h1>
  <%= link_to "Upload your first photo", new_selfie_path, class: "upload" %>
</section>

<% end %>

</body>