<body class="profile">

<p class="profile-name"><%= current_user.name %></p>
<%= link_to "Sign out", signout_path, class: "signout" %>

<div class="feed">

<% for selfie in @selfies %>
  <% if selfie.picture.feed.file.exists? && selfie.user %>
    <div class="selfie">
      <%= image_tag selfie.picture_url(:feed).to_s %>
      <p class="name"><%= selfie.name %></p>
      <p class="user-name"><%= selfie.user.name %></p>
      <p class="date"><%= selfie.created_at.strftime('%b %d, %Y') %></p>
    </div>
  <% end %>
<% end %>

</div>

</body>