<body class="terms">

<h1>Terms and Conditions</h1>

<% if flash[:error] %>
  <p class='error'><%= flash[:error] %></p>
<% end %>

<section>

    <p>I bought my whole family whips; no Volvos<br>
    Next time I’m in church, please: no photos<br>
    Police escorts, everybody passports<br>
    This the life that everybody ask for</p>

    <p>This is our first beta launch!</p>

    <p>You might lose your account and any uploaded images.<br>
    Your images and name may be publicly available.</p>

    <p>If you have questions, please email humanitiesatellite@gmail.com</p>

</section>

<%= form_tag(profile_post_path, method: 'post') do %>
   <%= hidden_field_tag :terms_of_service, 0 %>
   <%= check_box_tag :terms_of_service %>
   <label>I read and agree to the terms and conditions</label>
   <%= submit_tag 'Submit', class: 'agree' %>
<% end %>

</body>